.header {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.header h1 {
    margin-left: 10px;
    font-family: 'Rubik', sans-serif;
    color: rgb(4, 44 168 80px);
    font-weight: 900;
}

.box1 {
    width: 900px;
}

.box1 h2 {
    display: flex;
    justify-content: end;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    margin-top: 80px;
    font-weight: 600;
    margin-right: 60px;
}

.slogan {
    display: flex;
    justify-content: end;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: medium;
}

.input-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-box h2{
    font-size: 50px;
}

.google {
    height: 55px;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(224, 219, 219, 0.704);
    border-radius: 5px;
    width: 450px;
}

.after12 {
    color: rgb(181, 181, 181);
    position: relative;
    
}
.after12::before{
    display: block;
    content: "";
    height: 2px;
    width: 130px;
    background-color: rgb(181, 181, 181);
    position: absolute;
    top: 50%;
    right: 110%;
}
.after12::after{
    content: "";
    height: 2px;
    width: 130px;
    background-color: rgb(181, 181, 181);
    position: absolute;
    top: 50%;
    left: 110%;
}
label {
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-top: 25px;
}

.google p {
    font-weight: bolder;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email {
    width: 450px;
    height: 50px;
    border: none;
    border: 1px solid rgba(224, 219, 219, 0.704);
    border-radius: 5px;
    box-shadow: rgba(224, 219, 219, 0.704) 0px 0px 0px 1px;

}

.password {
    width: 450px;
    height: 50px;
    border: none;
    border: 1px solid rgba(224, 219, 219, 0.704);
    border-radius: 5px;
    box-shadow: rgba(224, 219, 219, 0.704) 0px 0px 0px 1px;
}

.link {
    margin-left: 170px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(23, 90, 233);
}

.login {
    margin-top: 40px;
    width: 450px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: large;
}

.link22 {
    margin-top: 20px;
}

.not {
    color: grey;
    font-family: 'Rubik', sans-serif;
    font-size: large;
    text-decoration: none;
}

.account {
    font-family: 'Rubik', sans-serif;
    font-size: large;
    text-decoration: none;
    margin-left: 5px;
    color: rgb(23, 90, 233);
    font-weight: bold;
}

.email::placeholder {
    font-size: 18px;
    color: rgba(224, 219, 219, 0.704);
}

.password::placeholder {
    font-size: 18px;
    color: rgba(224, 219, 219, 0.704);
}
.input-box h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    width: 450px;
}